body {
	background-color: rgb(0, 0, 0);
}

.header h2 {
	color: #DC4247;
	font-family: 'Anton';
	font-weight: 700;
	border: 4px dotted #DC4247;
	border-radius: 25px;
	margin: 10px 275px 10px 275px;
}

.header p {
	color: #DC4247;
}

.results {
	margin-top: 20px;
}

/* .tooltip {
	position: relative;
	display: inline-block;
	border: 1px solid red;
}

.tooltiptext {
	visibility: hidden;
	width: 400px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 2px;
	border-radius: 10px;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;

}

.tooltiptext:hover {
	visibility: visible;
} */




